//variables


//Reset


//Flex / Grid
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


.container {
    @include flex(column, center, stretch);
}