//variables
$font-color-dark: #3F3F3F;
$font-color-medium: #707070;
$font-color-light: #e4e4e4;
$blue-highlights: #86A4B8;
$blue-highlights-opacity: rgba(134, 164, 184, 0.5);
$background-color: #131313;
$light-background: rgba(63, 63, 63, 0.1);
$light-button: rgba(19, 19, 19, 0.3);

$title-font: 'DM Serif Display', serif;
$text-font: 'Inter', sans-serif;

//Reset
* {
    box-sizing: border-box;
    
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $font-color-light;
}

html, body {
    scroll-behavior: smooth;
    background-color: $background-color;
}

h1 {
    font-family: $title-font;
    font-weight: normal;
}

p, li, div {
    font-family: $text-font;
}

button {
    border: none;
    background-color: $light-button;
    font-family: $text-font;
}

//Flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.container {
    @include flex(column, center, flex-start);

    width: 100%;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.background-image {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 5em) {

    .padding-left-right {
        padding: 60px 12%;
    }

    .landing-page {
        @include flex(column, center, center);
        height: 100vh;
        width: 100%;

        min-height: 320px;

        .open-menu {
            position: fixed;
            top: 1.7em;
            right: 2em;

            height: 1.5em;

            z-index: 2;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -700px;

            z-index: 2;
            
            width: 50%;
            height: 100%;

            padding: 1em 1em;

            background-color: $blue-highlights;

            transition: 500ms linear;

            .close-menu {
                height: 1.3em;
                margin-top: 2em;
            }

            h1 {
                font-size: 1.3rem;
            }

            ul {
                font-size: 1.2rem;

                margin-top: 1.5em;

                li {
                    padding: 0.2rem 0;
                }
            }
        }

        .landing-page-text {
            @include flex(column, center, center);

            width: 70%;
            height: 50%;

            animation: text-slide-up 500ms ease-out forwards;

            h1 {
                font-size: 2.2em;
                color: $font-color-light;

                text-align: center;
            }

            button {
                font-size: 1.2em;

                padding: 5% 75px;

                border-radius: 50px;

                background-color: $blue-highlights-opacity;
            }

            .landing-text-big {
                display: none;
            }

            .landing-text-small {
                margin: 30px 0 30px 0;
                text-align: center;

                color: $font-color-medium;
            }

            @keyframes text-slide-up {
                from {
                    transform: translateY(400px);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    .cv-section {
        @include flex(column, center, center);
        width: 100%;
        min-height: 430px;

        h1 {
            margin: 60px 0 30px;

            font-size: 1.6em;
        }

        .cv-text {
            transform: translate(-100px, 0);
            opacity: 0;
            transition: 500ms ease-out 100ms;
        }

        .cv-skills {
            transform: translate(200px, 0);
            opacity: 0;
            transition: 500ms ease-out 100ms;
        }
    }

    .music-media {
        width: 100%;
        min-height: 320px;

        .arrow {
            display: none;
        }

        .display-container {
            @include flex(column-reverse, center, center);

            height: 100%;
            padding: 50px 40px;

            z-index: 1;

            background-color: rgb(26, 26, 26);
            box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);

            img {
                height: 20vh;
                min-height: 200px;
                width: auto;
            }

            .favourites-description {
                @include flex(column, center, center);
                width: 100%;

                margin-bottom: 30px;

                .favourite-type {
                    font-size: 0.8em;
                    font-weight: normal;
    
                    text-align: center;
    
                    color: $font-color-medium;
                }

                .favourite-title {
                    font-size: 0.8em;

                    margin: 30px 0 10px 0;

                    text-align: center;
                }

                .favourite-author {
                    font-size: 0.8em;
                    font-weight: normal;

                    text-align: center;

                    color: $font-color-medium;
                }
            }  
        }
        	
        .favourite-details {
            display: none;
        }

        .project-animation-right {
            animation: slide-right 800ms linear normal;
        }

        .project-animation-left {
            animation: slide-left 800ms linear normal;
        }

        @keyframes slide-right {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            25% {
                transform: translateX(300px);
                opacity: 0;
            }


            75% {
                opacity: 0;
                transform: translateX(-300px);
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slide-left {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            25% {
                transform: translateX(-300px);
                opacity: 0;
            }


            75% {
                opacity: 0;
                transform: translateX(300px);
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        } 
    }

    .projects-section {
        width: 100%;

        h1 {
            font-size: 1.6em;
        }

        ul {
            margin: 20px 0;

            li {
                margin: 10px 0;
                color: $font-color-dark;
            }
        }

        .project-container {
            img {
                width: 100%;
                aspect-ratio: 3/2;

                margin: 20px 0 30px 0;

                background-color: $blue-highlights;
            }

            h2 {
                font-size: 1.1em;
                font-weight: normal;
            }

            p {
                font-size: 1em;
                font-weight: normal;

                margin-top: 15px;

                color: $font-color-medium;
            }
        }

        .project-animation {
            animation: slide-right 800ms linear normal;
        }
        @keyframes slide-right {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            25% {
                transform: translateX(500px);
                opacity: 0;
            }


            75% {
                opacity: 0;
                transform: translateX(-500px);
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .contact-section {
        @include flex(column, center, center);
        width: 100%;
        min-height: 320px;

        z-index: 1;

        .contact-section-text {
            @include flex(column, center, center);
            width: 100%;

            margin: 0;
            padding: 30px 40px;

            background-color: rgb(26, 26, 26);
            box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);

            h1 {
                font-size: 1.6em;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
            }

            svg {
                background-color: $font-color-dark;
                width: 60%;

                margin: 25px 0 20px 0;
            }
        }

        .social-media-container {
            @include flex(row, space-around, center);

            width: 70%;
            min-width: 150px;
            max-width: 300px;

            margin-top: 70px;

            img {
                height: 30px;
                width: 30px;
            }
        }
    }

    /*.back-to-top {
        height: 7%;

        position: fixed;
        bottom: 10%;
        right: 10%;

        transition: 500ms;

        &:hover {
            height: 90px;
        }
    }*/
}

@media screen and (min-width: 40em) {

    .landing-page {
        .open-menu {
            position: fixed;
            top: 3em;
            right: 3em;

            height: 2em;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -700px;

            z-index: 2;
            
            width: 40%;
            height: 100%;

            padding: 2em 2em;

            background-color: $blue-highlights;

            transition: 500ms linear;

            .close-menu {
                height: 1.6em;
                margin-top: 3em;
            }

            h1 {
                font-size: 2.2rem;
            }

            ul {
                font-size: 2rem;

                margin-top: 1.5em;

                li {
                    padding: 0.5em 0;
                }
            }
        }

        .landing-page-text {

            h1 {
                font-size: 2.5em;
            }

            button {
                font-size: 1.6em;

                padding: 20px 100px;
            }

            .landing-text-big {
                display: block;
                font-size: 1.6em;

                margin: 50px 0 30px 0;
                text-align: center;

                color: $font-color-medium;
            }

            .landing-text-small {
                display: none;
            }
        }

        @media screen and (max-height: 800px) {
            .navbar {
            
                width: 30%;
                height: 100%;
    
                padding: 2em 2em;
    
                background-color: $blue-highlights;
    
                transition: 500ms linear;
    
                .close-menu {
                    height: 1.3em;
                    margin-top: 2em;
                }
    
                h1 {
                    font-size: 1.5rem;
                }
    
                ul {
                    font-size: 1.5rem;
    
                    margin-top: 1.7em;
    
                    li {
                        padding: 0.2rem 0;
                    }
                }
            }

    
            .landing-page-text{
                h1 {
                    color: $font-color-dark;
                }

                .landing-text-big {
                    display: none;
                }

                .landing-text-small {
                    display: block;
                    font-size: 1.6em;

                    margin: 50px 0 30px 0;
                    text-align: center;

                    color: $font-color-medium;
                }                
            }

        }

        @media screen and (min-height: 800px) {

            .landing-page-text{
                .landing-text-big {
                    display: block;
                    font-size: 1.6em;

                    margin: 50px 0 30px 0;
                    text-align: center;

                    color: $font-color-medium;
                }

                .landing-text-small {
                    display: none;
                }
            }
            
        }
    }

    .cv-section {
        align-items: flex-start;
        min-height: 640px;

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.6em; 
        }
    }

    .music-media {
        @include flex(row, space-around, center);
        color: $font-color-light;

        width: 100%;
        z-index: 1;

        padding: 8% 12%;

        transition: 1200ms ease-out 500ms;

        .arrow {
            display: none;
        }

        .display-container {
            @include flex(row, center, center);

            height: 300px;

            padding: 20px 40px;

            z-index: 2;

            background-color: rgb(26, 26, 26);
            box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);

            transition: 700ms;

            img {
                height: 90%;
                width: auto;
            }

            .favourites-description {
                @include flex(column, space-between, flex-start);
                height: 80%;
                margin: 0 0 0 30px;

                transition: 500ms;

                .favourite-type {
                font-size: 1em;
                color: $font-color-medium;
                font-weight: lighter;
                }

                .favourite-title {
                    font-size: 1.2em;
                    transform: translateY(35px);
                }

                .favourite-author {
                    font-size: 1em;
                    color: $font-color-medium;
                    font-weight: lighter;
                }
            }

            .description-text {
                    display: none;
                }
        }
    }

    .projects-section {

        min-height: 640px;

        h1 {
            font-size: 2.2em;
        }

        ul {
            margin: 40px 0;

            li {
                font-size: 1.4em;
            }
        }

        .project-container {
            img {
                margin-bottom: 60px;
            }

            h2 {
                font-size: 1.6em;
            }

            p {
                font-size: 1.4em;
                margin-top: 20px;
            }
        }
    }

    .contact-section {
        min-height: 640px;

        .contact-section-text {

            h1 {
                font-size: 2.2em;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.4em;
                font-weight: lighter;
            }

            svg {
                background-color: $font-color-dark;
                width: 60%;
                margin: 40px 0 30px 0;
            }
        }

        .social-media-container {
            margin-top: 70px;
        }
    }
}

@media screen and (min-width: 62em) {

    .landing-page {
        .open-menu {
            position: fixed;
            top: 3em;
            right: 3em;

            height: 2em;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -700px;

            z-index: 2;
            
            width: 40%;
            height: 100%;

            padding: 2em 2em;

            background-color: $blue-highlights;

            transition: 500ms linear;

            .close-menu {
                height: 1.6em;
                margin-top: 3em;
            }

            h1 {
                font-size: 2.2rem;
            }

            ul {
                font-size: 2rem;

                margin-top: 1.5em;

                li {
                    padding: 0.5em 0;
                }
            }
        }

        .landing-page-text {

            h1 {
                font-size: 2.5em;
            }

            button {
                font-size: 1.6em;

                padding: 20px 100px;
            }

            .landing-text-big {
                display: block;
                font-size: 1.6em;

                margin: 50px 0 30px 0;
                text-align: center;

                color: $font-color-medium;
            }

            .landing-text-small {
                display: none;
            }
        }

        @media screen and (max-height: 800px) {
            .navbar {
            
                width: 30%;
                height: 100%;
    
                padding: 2em 2em;
    
                background-color: $blue-highlights;
    
                transition: 500ms linear;
    
                .close-menu {
                    height: 1.3em;
                    margin-top: 2em;
                }
    
                h1 {
                    font-size: 1.5rem;
                }
    
                ul {
                    font-size: 1.5rem;
    
                    margin-top: 1.7em;
    
                    li {
                        padding: 0.2rem 0;
                    }
                }
            }

    
            .landing-page-text{
                h1 {
                    color: $font-color-dark;
                }

                .landing-text-big {
                    display: none;
                }

                .landing-text-small {
                    display: block;
                    font-size: 1.6em;

                    margin: 50px 0 30px 0;
                    text-align: center;

                    color: $font-color-medium;
                }                
            }

        }

        @media screen and (min-height: 800px) {

            .landing-page-text{
                .landing-text-big {
                    display: block;
                    font-size: 1.6em;

                    margin: 50px 0 30px 0;
                    text-align: center;

                    color: $font-color-medium;
                }

                .landing-text-small {
                    display: none;
                }
            }
            
        }
    }

    .cv-section {
        align-items: flex-start;
        min-height: 640px;

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.6em; 
        }
    }

    .music-media {
        @include flex(row, space-around, center);
        color: $font-color-light;

        width: 100%;
        z-index: 1;

        padding: 8% 0;
        transition: 1200ms ease-out 500ms;

        .arrow {
            display: block;

            width: 120px;
            margin: 0 7%;
            padding: 8% 40px;

            transition: 400ms;

            &:hover {
                background-color: rgba(63, 63, 63, 0.1);
                cursor: pointer;
            }
        }

        .display-container {
            @include flex(row, center, center);

            height: 300px;

            padding: 20px 40px;

            z-index: 2;

            background-color: rgb(26, 26, 26);
            box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);

            transition: 700ms;

            img {
                height: 90%;
                width: auto;
            }

            .favourites-description {
                @include flex(column, space-between, flex-start);
                height: 80%;
                margin: 0 0 0 30px;

                transition: 500ms;

                .favourite-type {
                font-size: 1em;
                color: $font-color-medium;
                font-weight: lighter;
                }

                .favourite-title {
                    font-size: 1.2em;
                    transform: translateY(35px);
                }

                .favourite-author {
                    font-size: 1em;
                    color: $font-color-medium;
                    font-weight: lighter;
                }
            }

            .description-text {
                    display: none;
                }
        }
    }

    .projects-section {

        min-height: 640px;

        h1 {
            font-size: 2.2em;
        }

        ul {
            margin: 40px 0;

            li {
                font-size: 1.4em;
            }
        }

        .project-container {
            img {
                margin-bottom: 60px;
            }

            h2 {
                font-size: 1.6em;
            }

            p {
                font-size: 1.4em;
                margin-top: 20px;
            }
        }
    }

    .contact-section {
        min-height: 640px;

        .contact-section-text {

            h1 {
                font-size: 2.2em;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.4em;
                font-weight: lighter;
            }

            svg {
                background-color: $font-color-dark;
                width: 60%;
                margin: 40px 0 30px 0;
            }
        }

        .social-media-container {
            margin-top: 70px;
        }
    }
}

// MAX WIDTH
@media only screen and (min-width: 75em) {

    .margin-left-right {
        padding: 0 8%;
    }

    .landing-page {

        justify-content: flex-start;
        align-items: flex-start;

        min-height: 700px;

        z-index: 1;

        .open-menu {
            display: none
        }

        .navbar {
            @include flex(row, space-between, center);

            padding: 0 12%;

            position: absolute;
            top: 0;
            right: 0;

            height: 100px;
            width: 100%;

            background-color: $light-background;

            .close-menu {
                display: none;
            }
            
            h1 {
                color: $font-color-dark;
                font-size: 1.8em;

                padding: 0;
                margin: 0;

                animation-name: text-slide-down;
                animation-duration: 1000ms;
            }

            ul {
                @include flex(row, space-between, center);

                margin: 0;
                padding: 0;

                font-size: 1.2em;
                width: 500px;
                height: 100%;

                .back-to-top {
                    display: none;
                }

                li {

                    a {
                        color: $font-color-medium;
                        font-size: 1.5em;
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &::after {
                        display: block;
                        width: 0;
                        content: "";
                        background-color: $font-color-medium;
                        height: 2px;
                        margin: auto;
                        transition: 500ms;
                    }

                    &:hover::after  {
                        width: 100%;
                    }

                    &:nth-child(2) {
                        transform: translateY(-100px);

                        animation: text-slide-down 700ms ease-in 500ms 1 normal forwards;
                    }

                    &:nth-child(3) {
                        transform: translateY(-100px);

                        animation: text-slide-down 700ms ease-in 800ms 1 normal forwards;
                    }

                    &:nth-child(4) {
                        transform: translateY(-100px);

                        animation: text-slide-down 700ms ease-in 1100ms 1 normal forwards;
                    }
                }
            }

            @keyframes text-slide-down {
                from {
                    transform: translateY(-100px);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .landing-page-text {
            align-items: flex-start;

            padding: 25% 0 0 12%;
            width: 65%;

            animation: text-slide-right 1000ms forwards;

            h1 {
                color: $font-color-dark;
                font-size: 2.5em;
            }

            button {
                font-size: 1.5em;
                padding: 20px 120px;
                border-radius: 50px;

                color: $font-color-light;
                background-color: $light-button;

                &:hover {
                    background-color: $blue-highlights;
                    cursor: pointer;
                }
            }

            .landing-text-small {
                display: none;
            }

            .landing-text-big {
                display: block;
                text-align: left;

                margin: 30px 0 30px 0;
                padding: 0;

                color: $font-color-medium;
                font-size: 1.5em;
            }

            @keyframes text-slide-right {
                from {
                    transform: translateX(-500px);
                    opacity: 0;
                }
                to {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
 
    .cv-section {
        @include flex(row, space-between, center);

        min-height: 500px;

        z-index: 1;

        h1 {
            font-size: 2.2em;
        }

        p {
            margin-top: 30px;
            font-size: 1.4em;
        }

        .cv-text {
            width: 50%;
            margin-right: 30px;

            transform: translate(-100px, 0);
            opacity: 0;
            transition: 500ms ease-out 200ms;
        }

        .cv-skills {
            width: 45%;

            transform: translate(200px, 0);
            opacity: 0;
            transition: 500ms ease-out 200ms;
        }
    }

    .music-media {
        @include flex(row, center, center);
        color: $font-color-light;

        width: 100%;
        z-index: 1;

        transition: 1200ms ease-out 500ms;

        .display-container {
            @include flex(row, center, center);

            height: 300px;
            aspect-ratio: 4/2;

            padding: 20px 40px;

            z-index: 2;

            background-color: rgb(26, 26, 26);
            box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);

            transition: 700ms;

            img {
                height: 90%;
                width: auto;
            }

            .favourites-description {
                @include flex(column, space-between, flex-start);
                height: 80%;
                margin: 0 0 0 30px;

                transition: 500ms;

                .favourite-type {
                    font-size: 1em;
                    color: $font-color-medium;
                    font-weight: lighter;
                }

                .favourite-title {
                    font-size: 1.2em;
                    transform: translateY(35px);
                    text-align: left;
                }

                .favourite-author {
                    font-size: 1em;
                    color: $font-color-medium;
                    font-weight: lighter;
                }
            }

            .description-text {
                    display: none;
                }
        }

        .project-animation-right {
            animation: slide-right 800ms linear normal;
        }

        .project-animation-left {
            animation: slide-left 800ms linear normal;
        }

        @keyframes slide-right {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            25% {
                transform: translateX(500px);
                opacity: 0;
            }


            75% {
                opacity: 0;
                transform: translateX(-500px);
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slide-left {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            25% {
                transform: translateX(-500px);
                opacity: 0;
            }


            75% {
                opacity: 0;
                transform: translateX(500px);
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
            
    .projects-section {

        z-index: 1;

        h1 {
            font-size: 2.2em;
        }

        ul {
            @include flex(flex, space-between, center);

            color: $font-color-dark;
            font-size: 1em;
            
            width: 55%;

            li {
                color: $font-color-dark;
                transition: 500ms;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .project-container {
            @include flex(flex, space-between, flex-start);

            width: 100%;

            img {
                width: 60%;
                margin: 0 30px 0 0;

                transition: 700ms;

            } 

            .project-info {
                width: 45%;

                margin-left: 30px;

                h2 {
                    font-size: 1.4em;
                    font-weight: normal;
                    color: $font-color-light;
                }

                p {
                    margin-top: 40px;
                    font-size: 1.2em;
                    font-weight: lighter;
                }
            }
        }
    }

    .contact-section {
        @include flex(row, space-between, center);

        .contact-section-text {
            align-items: flex-start;

            color: $font-color-light;

            width: 760px;
            padding: 70px 80px;

            z-index: 1;

            background-color: rgb(26, 26, 26, 0.5);
            box-shadow: 15px 15px 15px 0 rgba(10, 10, 10, 0.3);

            svg {
                margin: 30px 0;
            }

            h1 {
                font-size: 2em;
                margin-bottom: 40px;
            }

            p {
                font-size: 1.3em;
                text-align: left;
            }
        }

        .social-media-container {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            height: 200px;
            width: 200px;

            margin-left: 6%;

            img {
                height: 60px;
                width: 60px;

                transition: 400ms;

                &:hover {
                    height: 70px;
                    width: 70px;

                    cursor: pointer;
                }
            }
        }
    }
}