* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #e4e4e4;
}

html, body {
  scroll-behavior: smooth;
  background-color: #131313;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: normal;
}

p, li, div {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background-color: rgba(19, 19, 19, 0.3);
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 5em) {
  .padding-left-right {
    padding: 60px 12%;
  }
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-height: 320px;
  }
  .landing-page .menu-button {
    position: fixed;
    height: 120px;
    width: 120px;
    top: 5%;
    right: -12%;
    margin: 0;
    padding: 0;
    z-index: 3;
    transform-origin: center;
  }
  .landing-page .navbar {
    position: fixed;
    top: 0;
    right: -700px;
    z-index: 2;
    width: 50%;
    height: 100%;
    padding: 1em 1em;
    background-color: #86A4B8;
    transition: 500ms linear;
  }
  .landing-page .navbar h1 {
    display: none;
    font-size: 1.3rem;
  }
  .landing-page .navbar ul {
    font-size: 1.2rem;
    margin-top: 100px;
  }
  .landing-page .navbar ul li {
    padding: 20px 0;
  }
  .landing-page .navbar ul li .github-dark {
    display: none;
  }
  .landing-page .navbar ul li .github-white {
    height: 40px;
  }
  .landing-page .landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    -webkit-animation: text-slide-up 500ms ease-out forwards;
            animation: text-slide-up 500ms ease-out forwards;
  }
  .landing-page .landing-page-text h1 {
    font-size: 2.2em;
    color: #e4e4e4;
    text-align: center;
  }
  .landing-page .landing-page-text button {
    font-size: 1.2em;
    padding: 5% 75px;
    border-radius: 50px;
    background-color: rgba(134, 164, 184, 0.5);
  }
  .landing-page .landing-page-text .landing-text-big {
    display: none;
  }
  .landing-page .landing-page-text .landing-text-small {
    margin: 30px 0 30px 0;
    text-align: center;
    color: #707070;
  }
  @-webkit-keyframes text-slide-up {
    from {
      transform: translateY(400px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes text-slide-up {
    from {
      transform: translateY(400px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .cv-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 430px;
  }
  .cv-section h1 {
    margin: 60px 0 30px;
    font-size: 1.6em;
  }
  .cv-section .cv-text {
    transform: translate(-100px, 0);
    opacity: 0;
    transition: 500ms ease-out 100ms;
  }
  .cv-section .cv-text p {
    margin: 0;
    padding: 0;
    font-weight: lighter;
  }
  .cv-section .cv-skills {
    transform: translate(200px, 0);
    opacity: 0;
    transition: 500ms ease-out 100ms;
  }
  .cv-section .cv-skills .skill-list h3 {
    margin: 20px 0;
    padding: 0;
  }
  .cv-section .cv-skills .skill-list p {
    margin: 0;
    padding: 0;
    color: #707070;
    font-size: 1em;
    font-weight: lighter;
  }
  .music-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 320px;
  }
  .music-media .arrow {
    display: none;
  }
  .music-media .arrows-for-phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .music-media .arrows-for-phone h2 {
    font-size: 1em;
    color: #3F3F3F;
    font-weight: lighter;
  }
  .music-media .arrows-for-phone .arrow-small {
    height: 20px;
    margin: 0 30px;
  }
  .music-media .display-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 400px;
    aspect-ratio: 2/3;
    padding: 40px 40px;
    z-index: 1;
    background-color: rgb(26, 26, 26);
    box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);
    transition: 400ms;
  }
  .music-media .display-container img {
    height: 20vh;
    min-height: 200px;
    width: auto;
    z-index: 1;
  }
  .music-media .display-container .favourites-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  .music-media .display-container .favourites-description .favourite-type {
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    color: #707070;
  }
  .music-media .display-container .favourites-description .favourite-title {
    font-size: 0.8em;
    margin: 30px 0 10px 0;
    text-align: center;
  }
  .music-media .display-container .favourites-description .favourite-author {
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    color: #707070;
  }
  .music-media .favourite-details {
    display: none;
    z-index: 3;
  }
  .music-media .project-animation-right {
    -webkit-animation: slide-right 800ms linear normal;
            animation: slide-right 800ms linear normal;
  }
  .music-media .project-animation-left {
    -webkit-animation: slide-left 800ms linear normal;
            animation: slide-left 800ms linear normal;
  }
  @-webkit-keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(300px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(300px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(-300px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(-300px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .projects-section {
    width: 100%;
  }
  .projects-section h1 {
    font-size: 1.6em;
  }
  .projects-section ul {
    margin: 20px 0;
  }
  .projects-section ul li {
    margin: 10px 0;
    color: #3F3F3F;
    transition: 500ms;
  }
  .projects-section .project-container img {
    width: 100%;
    aspect-ratio: 3/2;
    margin: 20px 0 30px 0;
    background-color: #86A4B8;
  }
  .projects-section .project-container h2 {
    font-size: 1.1em;
    font-weight: normal;
  }
  .projects-section .project-container p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 15px;
    color: #707070;
  }
  .projects-section .project-animation {
    -webkit-animation: slide-right 800ms linear normal;
            animation: slide-right 800ms linear normal;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(500px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 320px;
    z-index: 1;
  }
  .contact-section .contact-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 30px 40px;
    background-color: rgb(26, 26, 26);
    box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);
  }
  .contact-section .contact-section-text h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
  }
  .contact-section .contact-section-text p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-section .contact-section-text p img {
    height: 20px;
    margin-right: 15px;
  }
  .contact-section .contact-section-text svg {
    background-color: #3F3F3F;
    width: 60%;
    margin: 25px 0 20px 0;
  }
  .contact-section .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    min-width: 150px;
    max-width: 300px;
    margin-top: 70px;
  }
  .contact-section .social-media-container img {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 40em) {
  .landing-page .open-menu {
    position: fixed;
    top: 3em;
    right: 3em;
    height: 2em;
  }
  .landing-page .navbar {
    position: fixed;
    top: 0;
    right: -700px;
    z-index: 2;
    width: 40%;
    height: 100%;
    padding: 2em 2em;
    background-color: #86A4B8;
    transition: 500ms linear;
  }
  .landing-page .navbar .close-menu {
    height: 1.6em;
    margin-top: 3em;
  }
  .landing-page .navbar h1 {
    font-size: 2.2rem;
  }
  .landing-page .navbar ul {
    font-size: 2rem;
    margin-top: 1.5em;
  }
  .landing-page .navbar ul li {
    padding: 0.5em 0;
  }
  .landing-page .landing-page-text h1 {
    font-size: 2.5em;
  }
  .landing-page .landing-page-text button {
    font-size: 1.6em;
    padding: 20px 100px;
  }
  .landing-page .landing-page-text .landing-text-big {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: none;
  }
}
@media screen and (min-width: 40em) and (max-height: 800px) {
  .landing-page .navbar {
    width: 30%;
    height: 100%;
    padding: 2em 2em;
    background-color: #86A4B8;
    transition: 500ms linear;
  }
  .landing-page .navbar .close-menu {
    height: 1.3em;
    margin-top: 2em;
  }
  .landing-page .navbar h1 {
    font-size: 1.5rem;
  }
  .landing-page .navbar ul {
    font-size: 1.5rem;
    margin-top: 1.7em;
  }
  .landing-page .navbar ul li {
    padding: 0.2rem 0;
  }
  .landing-page .landing-page-text h1 {
    color: #3F3F3F;
  }
  .landing-page .landing-page-text .landing-text-big {
    display: none;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
}
@media screen and (min-width: 40em) and (min-height: 800px) {
  .landing-page .landing-page-text .landing-text-big {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: none;
  }
}
@media screen and (min-width: 40em) {
  .cv-section {
    align-items: flex-start;
    min-height: 640px;
  }
  .cv-section h1 {
    font-size: 2em;
  }
  .cv-section p {
    font-size: 1em;
  }
}
@media screen and (min-width: 40em) {
  .music-media {
    color: #e4e4e4;
    width: 100%;
    z-index: 1;
    padding: 8% 12%;
    transition: 1200ms ease-out 500ms;
  }
  .music-media .arrow {
    display: none;
  }
  .music-media .display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    aspect-ratio: 5/3;
    padding: 20px 40px;
    z-index: 2;
    background-color: rgb(26, 26, 26);
    box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);
    transition: 700ms;
  }
  .music-media .display-container img {
    height: 90%;
    width: auto;
  }
  .music-media .display-container .favourites-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    margin: 0 0 0 30px;
    transition: 500ms;
  }
  .music-media .display-container .favourites-description .favourite-type {
    font-size: 0.8em;
    color: #707070;
    font-weight: lighter;
    text-align: left;
  }
  .music-media .display-container .favourites-description .favourite-title {
    font-size: 0.8em;
    margin: 100px 0 0 0;
    text-align: left;
  }
  .music-media .display-container .favourites-description .favourite-author {
    font-size: 0.8em;
    color: #707070;
    font-weight: lighter;
    text-align: left;
  }
  .music-media .display-container .description-text {
    display: none;
  }
}
@media screen and (min-width: 40em) {
  .projects-section {
    min-height: 640px;
  }
  .projects-section h1 {
    font-size: 2.2em;
  }
  .projects-section ul {
    margin: 40px 0;
  }
  .projects-section ul li {
    font-size: 1.4em;
  }
  .projects-section .project-container img {
    margin-bottom: 60px;
  }
  .projects-section .project-container h2 {
    font-size: 1.6em;
  }
  .projects-section .project-container p {
    font-size: 1.4em;
    margin-top: 20px;
  }
}
@media screen and (min-width: 40em) {
  .contact-section {
    min-height: 640px;
  }
  .contact-section .contact-section-text h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
  .contact-section .contact-section-text p {
    font-size: 1.4em;
    font-weight: lighter;
  }
  .contact-section .contact-section-text svg {
    background-color: #3F3F3F;
    width: 60%;
    margin: 40px 0 30px 0;
  }
  .contact-section .social-media-container {
    margin-top: 70px;
  }
}
@media screen and (min-width: 62em) {
  .landing-page .open-menu {
    position: fixed;
    top: 3em;
    right: 3em;
    height: 2em;
  }
  .landing-page .navbar {
    position: fixed;
    top: 0;
    right: -700px;
    z-index: 2;
    width: 40%;
    height: 100%;
    padding: 2em 2em;
    background-color: #86A4B8;
    transition: 500ms linear;
  }
  .landing-page .navbar .close-menu {
    height: 1.6em;
    margin-top: 3em;
  }
  .landing-page .navbar h1 {
    font-size: 2.2rem;
  }
  .landing-page .navbar ul {
    font-size: 2rem;
    margin-top: 1.5em;
  }
  .landing-page .navbar ul li {
    padding: 20px 0;
  }
  .landing-page .landing-page-text h1 {
    font-size: 2.5em;
  }
  .landing-page .landing-page-text button {
    font-size: 1.6em;
    padding: 20px 100px;
  }
  .landing-page .landing-page-text .landing-text-big {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: none;
  }
}
@media screen and (min-width: 62em) and (max-height: 800px) {
  .landing-page .navbar {
    width: 30%;
    height: 100%;
    padding: 2em 2em;
    background-color: #86A4B8;
    transition: 500ms linear;
  }
  .landing-page .navbar .close-menu {
    height: 1.3em;
    margin-top: 2em;
  }
  .landing-page .navbar h1 {
    font-size: 1.5rem;
  }
  .landing-page .navbar ul {
    font-size: 1.5rem;
    margin-top: 1.7em;
  }
  .landing-page .navbar ul li {
    padding: 0.2rem 0;
  }
  .landing-page .landing-page-text h1 {
    color: #3F3F3F;
  }
  .landing-page .landing-page-text .landing-text-big {
    display: none;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
}
@media screen and (min-width: 62em) and (min-height: 800px) {
  .landing-page .landing-page-text .landing-text-big {
    display: block;
    font-size: 1.6em;
    margin: 50px 0 30px 0;
    text-align: center;
    color: #707070;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: none;
  }
}
@media screen and (min-width: 62em) {
  .cv-section {
    align-items: flex-start;
    min-height: 640px;
  }
  .cv-section h1 {
    font-size: 2em;
  }
  .cv-section .skill-list h3 {
    font-size: 1.4em;
    margin: 10px 0;
    padding: 0;
  }
  .cv-section .skill-list p {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 62em) {
  .music-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #e4e4e4;
    width: 100%;
    z-index: 1;
    padding: 8% 0;
    transition: 1200ms ease-out 500ms;
  }
  .music-media .arrow {
    display: block;
    width: 120px;
    margin: 0 7%;
    padding: 8% 40px;
    transition: 400ms;
  }
  .music-media .arrow:hover {
    background-color: rgba(63, 63, 63, 0.1);
    cursor: pointer;
  }
  .music-media .arrows-for-phone {
    display: none;
  }
  .music-media .display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    aspect-ratio: 4/2;
    padding: 20px 40px;
    z-index: 2;
    background-color: rgb(26, 26, 26);
    box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);
    transition: 700ms;
  }
  .music-media .display-container img {
    height: 90%;
    width: auto;
  }
  .music-media .display-container .favourites-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    margin: 0 0 0 30px;
    transition: 500ms;
  }
  .music-media .display-container .favourites-description .favourite-type {
    font-size: 1em;
    color: #707070;
    font-weight: lighter;
  }
  .music-media .display-container .favourites-description .favourite-title {
    font-size: 1.2em;
  }
  .music-media .display-container .favourites-description .favourite-author {
    font-size: 1em;
    color: #707070;
    font-weight: lighter;
    text-align: left;
  }
  .music-media .display-container .description-text {
    display: none;
  }
}
@media screen and (min-width: 62em) {
  .projects-section {
    min-height: 640px;
  }
  .projects-section h1 {
    font-size: 2.2em;
  }
  .projects-section ul {
    margin: 40px 0;
  }
  .projects-section ul li {
    font-size: 1.4em;
  }
  .projects-section .project-container img {
    margin-bottom: 60px;
  }
  .projects-section .project-container h2 {
    font-size: 1.6em;
  }
  .projects-section .project-container p {
    font-size: 1.4em;
    margin-top: 20px;
  }
}
@media screen and (min-width: 62em) {
  .contact-section {
    min-height: 640px;
  }
  .contact-section .contact-section-text h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
  .contact-section .contact-section-text p {
    font-size: 1.4em;
    font-weight: lighter;
  }
  .contact-section .contact-section-text svg {
    background-color: #3F3F3F;
    width: 60%;
    margin: 40px 0 30px 0;
  }
  .contact-section .social-media-container {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 75em) {
  .margin-left-right {
    padding: 0 8%;
  }
  .landing-page {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 700px;
    z-index: 1;
  }
  .landing-page .open-menu {
    display: none;
  }
  .landing-page .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.1);
  }
  .landing-page .navbar h1 {
    display: block;
    color: #3F3F3F;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    -webkit-animation-name: text-slide-down;
            animation-name: text-slide-down;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
  .landing-page .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    width: 550px;
    height: 100%;
  }
  .landing-page .navbar ul li .github-white {
    display: none;
  }
  .landing-page .navbar ul li .github-dark {
    display: block;
    height: 100%;
    height: 35px;
    -webkit-animation: text-slide-down 700ms ease-in 1 normal forwards;
            animation: text-slide-down 700ms ease-in 1 normal forwards;
  }
  .landing-page .navbar ul li a {
    color: #707070;
    font-size: 1.5em;
  }
  .landing-page .navbar ul li a:hover {
    cursor: pointer;
  }
  .landing-page .navbar ul li a::after {
    display: block;
    width: 0;
    content: "";
    background-color: #707070;
    height: 2px;
    margin: auto;
    transition: 500ms;
  }
  .landing-page .navbar ul li a:hover::after {
    width: 100%;
  }
  .landing-page .navbar ul li .github-main:after {
    display: none;
  }
  .landing-page .navbar ul li:nth-child(1) {
    display: none;
  }
  .landing-page .navbar ul li:nth-child(2) {
    transform: translateY(-100px);
    -webkit-animation: text-slide-down 700ms ease-in 500ms 1 normal forwards;
            animation: text-slide-down 700ms ease-in 500ms 1 normal forwards;
  }
  .landing-page .navbar ul li:nth-child(3) {
    transform: translateY(-100px);
    -webkit-animation: text-slide-down 700ms ease-in 800ms 1 normal forwards;
            animation: text-slide-down 700ms ease-in 800ms 1 normal forwards;
  }
  .landing-page .navbar ul li:nth-child(4) {
    transform: translateY(-100px);
    -webkit-animation: text-slide-down 700ms ease-in 1100ms 1 normal forwards;
            animation: text-slide-down 700ms ease-in 1100ms 1 normal forwards;
  }
  @-webkit-keyframes text-slide-down {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes text-slide-down {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .landing-page .landing-page-text {
    align-items: flex-start;
    padding: 25% 0 0 12%;
    width: 65%;
    -webkit-animation: text-slide-right 1000ms forwards;
            animation: text-slide-right 1000ms forwards;
  }
  .landing-page .landing-page-text h1 {
    color: #3F3F3F;
    font-size: 2.5em;
  }
  .landing-page .landing-page-text button {
    font-size: 1.5em;
    padding: 20px 120px;
    border-radius: 50px;
    color: #e4e4e4;
    background-color: rgba(19, 19, 19, 0.3);
  }
  .landing-page .landing-page-text button:hover {
    background-color: #86A4B8;
    cursor: pointer;
  }
  .landing-page .landing-page-text .landing-text-small {
    display: none;
  }
  .landing-page .landing-page-text .landing-text-big {
    display: block;
    text-align: left;
    margin: 30px 0 30px 0;
    padding: 0;
    color: #707070;
    font-size: 1.5em;
  }
  @-webkit-keyframes text-slide-right {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes text-slide-right {
    from {
      transform: translateX(-500px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .cv-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 500px;
    z-index: 1;
  }
  .cv-section h1 {
    font-size: 2.2em;
  }
  .cv-section p {
    margin-top: 30px;
    font-size: 1.3em;
  }
  .cv-section .cv-text {
    width: 50%;
    margin-right: 30px;
    transform: translate(-100px, 0);
    opacity: 0;
    transition: 500ms ease-out 200ms;
  }
  .cv-section .cv-skills {
    width: 45%;
    transform: translate(200px, 0);
    opacity: 0;
    transition: 500ms ease-out 200ms;
  }
  .music-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
    width: 100%;
    z-index: 1;
    transition: 1200ms ease-out 500ms;
  }
  .music-media .display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    aspect-ratio: 4/2;
    padding: 20px 40px;
    z-index: 2;
    background-color: rgb(26, 26, 26);
    box-shadow: 15px 15px 0 rgba(10, 10, 10, 0.3);
    transition: 700ms;
  }
  .music-media .display-container img {
    height: 90%;
    width: auto;
  }
  .music-media .display-container .favourites-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
    margin: 0 0 0 30px;
    transition: 500ms;
  }
  .music-media .display-container .favourites-description .favourite-type {
    font-size: 1em;
    color: #707070;
    font-weight: lighter;
  }
  .music-media .display-container .favourites-description .favourite-title {
    font-size: 1.2em;
    transform: translateY(8px);
  }
  .music-media .display-container .favourites-description .favourite-author {
    font-size: 1em;
    color: #707070;
    font-weight: lighter;
  }
  .music-media .display-container .description-text {
    display: none;
  }
  .music-media .project-animation-right {
    -webkit-animation: slide-right 800ms linear normal;
            animation: slide-right 800ms linear normal;
  }
  .music-media .project-animation-left {
    -webkit-animation: slide-left 800ms linear normal;
            animation: slide-left 800ms linear normal;
  }
  @-webkit-keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(500px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(500px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(-500px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(-500px);
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .projects-section {
    z-index: 1;
  }
  .projects-section h1 {
    font-size: 2.2em;
  }
  .projects-section ul {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: center;
    color: #3F3F3F;
    font-size: 1em;
    width: 50%;
  }
  .projects-section ul li {
    color: #3F3F3F;
    transition: 500ms;
  }
  .projects-section ul li:hover {
    cursor: pointer;
  }
  .projects-section .project-container {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .projects-section .project-container img {
    width: 60%;
    margin: 0 30px 0 0;
    transition: 700ms;
  }
  .projects-section .project-container .project-info {
    width: 45%;
    margin-left: 30px;
  }
  .projects-section .project-container .project-info h2 {
    font-size: 1.4em;
    font-weight: normal;
    color: #e4e4e4;
  }
  .projects-section .project-container .project-info p {
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: lighter;
  }
  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-section .contact-section-text {
    align-items: flex-start;
    color: #e4e4e4;
    width: 760px;
    padding: 70px 80px;
    z-index: 1;
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: 15px 15px 15px 0 rgba(10, 10, 10, 0.3);
  }
  .contact-section .contact-section-text svg {
    margin: 30px 0;
  }
  .contact-section .contact-section-text h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  .contact-section .contact-section-text p {
    font-size: 1.3em;
    text-align: left;
  }
  .contact-section .social-media-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 200px;
    margin-left: 6%;
  }
  .contact-section .social-media-container img {
    height: 60px;
    width: 60px;
    transition: 400ms;
  }
  .contact-section .social-media-container img:hover {
    height: 70px;
    width: 70px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */