* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: rgba(19, 19, 19, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #131313;
  width: 100%;
}

.background-image {
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/../images/landing-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.landing-page .navbar {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7rem;
  background-color: rgba(63, 63, 63, 0.1);
}
.landing-page .navbar h1 {
  font-size: 1.8rem;
  color: #3F3F3F;
}
.landing-page .navbar ul {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 500px;
}
.landing-page .navbar ul li {
  font-size: 1.8rem;
  color: #707070;
}
.landing-page .navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #707070;
  margin: auto;
  display: block;
  position: relative;
  transition: 500ms;
}
.landing-page .navbar ul li:hover::after {
  width: 100%;
}
.landing-page .landing-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
  margin: 5% 7rem 0 7rem;
}
.landing-page .landing-page-text h1 {
  font-size: 3em;
  color: #3F3F3F;
  margin: 0;
}
.landing-page .landing-page-text p {
  font-size: 1.7em;
  color: #707070;
}
.landing-page .landing-page-text button {
  font-size: 1.8em;
  color: #e4e4e4;
  padding: 20px 100px;
  margin-top: 5%;
  border-radius: 40px;
  transition: 500ms;
}
.landing-page .landing-page-text button:hover {
  background-color: #86A4B8;
  cursor: pointer;
}

.cv-section {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15% 7rem 0 7rem;
  position: relative;
  z-index: 1;
}
.cv-section .cv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
}
.cv-section .cv-text h1 {
  font-size: 2.5em;
  color: #e4e4e4;
  margin: 0;
}
.cv-section .cv-text p {
  font-size: 1.7em;
  color: #e4e4e4;
}
.cv-section .cv-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.cv-section .cv-skills h1 {
  font-size: 2.5em;
  color: #e4e4e4;
  margin: 0;
}
.cv-section .cv-skills p {
  font-size: 1.7em;
  color: #e4e4e4;
}

.music-media {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 10% 0;
}
.music-media svg {
  stroke: #e4e4e4;
  stroke-width: 0.5;
}
.music-media h1 {
  height: 100px;
  color: #e4e4e4;
  text-align: center;
}

.projects-section {
  position: relative;
  z-index: 1;
  height: 80vh;
  margin: 0 7rem 5% 7rem;
}
.projects-section h1 {
  font-size: 2.5em;
  color: #e4e4e4;
  margin: 0;
}
.projects-section ul {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 50px 0;
  padding: 0;
}
.projects-section ul li {
  font-size: 1.3em;
  color: #3F3F3F;
  transition: 500ms;
}
.projects-section ul li:hover {
  cursor: pointer;
  color: #707070;
}
.projects-section .project-container {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: stretch;
}
.projects-section .project-container img {
  width: 50%;
  aspect-ratio: 3/2;
  background-color: #86A4B8;
}
.projects-section .project-container .project-info {
  width: 40%;
}
.projects-section .project-container .project-info h2 {
  font-size: 1.5em;
  color: #e4e4e4;
}
.projects-section .project-container .project-info h3 {
  font-size: 1.3em;
  color: #707070;
}
.projects-section .project-container .project-info p {
  font-size: 1em;
  color: #e4e4e4;
}

.contacts-section {
  margin: 0 7rem 0 7rem;
}
.contacts-section h1 {
  font-size: 2em;
  color: #e4e4e4;
}
.contacts-section p {
  font-size: 1.4em;
  color: #e4e4e4;
}/*# sourceMappingURL=style.css.map */